<div class="pageOne">
  <div class="contents">
    <div class="text">
      <img src="<%= static_path(@conn, "/images/me.jpg") %>" style="float: right; height: 350px; padding: 10px" />
      <h3 id="About">About</h3>
      <p>My name is Jacqlyn Weir and my experience in coding is quite new and rather minimal but the skills I'm learning include Javascript,JQuery, HTML, CSS, and Bootstrap.<br/><br/>I am most excited to be part of the programming family and only hope that I will gain sufficiate knowledge and skill to climb that ladder in becoming a Senior Programmer if not further.<br/>The things I'm most interested in other than coding are Literature, History, and Linguistics. I feel the knowledge I gain in these areas will be of good use in programming as well.</p>
    </div>
    <hr />
    <h4>“Unless you try to do something beyond what you have already mastered, you will never grow.”<br/> ― Ronald E. Osborn</h4>
  </div>
</div>

<div class="pageTwo">
  <div class="contents">
    <hr />
    <p id="portfolio">Portfolio</p>
    <hr />
    <div class="one">
      <img class="portfolio" src="<%= static_path(@conn, "/images/samuel.jpg") %>" />
      <img class="portfolio" src="<%= static_path(@conn, "/images/trees.jpg") %>" />
      <img class="portfolio" src="<%= static_path(@conn, "/images/adriantea.jpg") %>" />
    </div>

    <div class="two">
      <img class="portfolio" src="<%= static_path(@conn, "/images/unionjack.jpg") %>" />
      <img class="portfolio" src="<%= static_path(@conn, "/images/1910dic.jpg") %>" />
      <img class="portfolio" src="<%= static_path(@conn, "/images/hamletquestion.jpg") %>" />
    </div>

    <div class="three">
      <img class="portfolio" src="<%= static_path(@conn, "/images/quill.jpg") %>" />
      <img class="portfolio" src="<%= static_path(@conn, "/images/camelot.jpg") %>" />
      <img class="portfolio" src="<%= static_path(@conn, "/images/oldbooks.jpg") %>" />
    </div>
  </div>
</div>
